
@{
    ViewBag.Title = "ProfessionalDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TradsMan Dashboard</h2>
<div class="alert alert-success">
    <strong>Login Successed </strong>
</div>

<h1></h1>>


<div class="affix">

    <strong>You Dont Have any Hire Request </strong>
</div>


